﻿@page "/fetchdata"
@inherits MyAppComponent
@inject HttpClient Http
@using PGC_17
@using Microsoft.AspNetCore.Blazor.Components

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (@State.Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in @State.Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick=@(async () => await ActionCreators.LoadWeather(Store.Dispatch, Http))>Reload weather</button>
}

<Counter />