﻿<div class="main-nav">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Main</a>
        </div>
        <div class="clearfix"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink href="/" Match=NavLinkMatch.All>
                        <span class="glyphicon glyphicon-home"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/counter">
                        <span class="glyphicon glyphicon-education"></span> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/fetchdata">
                        <span class="glyphicon glyphicon-th-list"></span> Fetch data
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>
