﻿@page "/counter"

<style>
    .style1 {
        background-color: #ffffff; /* White */
        color: black;
    }

    .style2 {
        background-color: #2f2f2f; /* Black Gray */
        color: white;
    }

</style>

<h1>Counter</h1>

<p id="lblCurrentCount" class="@currentClass">Current count: @currentCount</p>

<button @onclick(IncrementCount)>Click me</button>

@functions {
    int currentCount = 0;
    string currentClass = "";

    void IncrementCount()
    {
        currentCount++;
        currentClass = currentCount % 2 == 0 ? "style1" : "style2";
        // NOTE: At time of this writing, I cannot discover how to look up 'lblCurrentCount'
        // - in theory I may never need it since updating attributes such as currentClass
        // appear to be realtime.  Still, I'd like to have the option/know how to do it
    }
}
