﻿@page "/counter"
@inherits TestCounterPage
@using Microsoft.Extensions.Logging;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

@{
    // Not sure why, but we can't just dump IncrementCount in here, we have
    // to wrap it in a delegate otherwise Blazor can't resolve if it's awaitable
    // or not
}
<button onclick="@(() => IncrementCount())">Click me</button>

@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
        Logger.LogDebug($"Incrementing counter: {currentCount}");
    }
}
