﻿@page "/"
@inherits TestIndexPage<int>
@inject POC1.FakeRepository repository

<h1>Hello, world!</h1>

@WelcomeText

@{ repository.DummyFunc(); }

<SurveyPrompt Title="How is Blazor working for you?" />
