﻿@page "/form"
@inherits POC3.Form

<h1>@Title</h1>

<p>
    @{ // onkeypress=@OnKeyPress is how you'd do a keypress handler, but 
       // it interrupts onchange/bind behavior
       // @onchange(OnChange) stops below binding from working as expected
       // if we remove it, then Record.FirstName always updates down below
    }
    Enter your name: <input type="text"
                            @bind(Record.FirstName)>
    <br />
</p>

@{ // if using @onchange, this only seems to update the first time around, interesting since
   // we don't get an onchange first time around
}
<br /> Your name is @Record.FirstName